doctype html
html
  head
    title Socket.IO chat
    |     
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
  |   
  body
    h1#name #{user.name} 
    |     
    ul#messages
    |     
    form(action='')
      input#m(autocomplete='off')
      button Send
    |    
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script.
        //var person = prompt("Please enter your name");
        var person=document.getElementById("name").innerHTML;
        if (person !== '' && person.length>1 && person !==null) {
        var socket = io();
        var users=[];
        socket.emit('new user', person);
        $('form').submit(function(){
        socket.emit('chat message',  $('#m').val(), person);
        $('#m').val('');
        return false;
        });
        socket.on('chat message', function(msg, sender){
        if (person ==sender ) {
        var message="My msg is : "+ msg ;
        $('#messages').append($('<li>').text(message));
        }
        else{
        var message=sender+ " Says >> "+ msg ;
        $('#messages').append($('<li>').text(message));
        }
        });
        socket.on('userAdded', function(usersActive){
        console.log("Welcome new user : "+ usersActive );
        });
        }
